.node--news-teaser {
  background-color: white;
  text-transform: uppercase;
  padding: 20px 20px 0;
}
.node--news-teaser .layout--twocol-section {
  justify-content: space-between;
  margin-top: 0 !important;
}
.node--news-teaser .layout--twocol-section .layout__region--first {
  flex: 0 1 18%;
  text-align: center;
}
.node--news-teaser .layout--twocol-section .layout__region--first .block-field-blocknodenewsrevision-timestamp {
  font-size: 43px;
  font-weight: 900;
  color: #6e9bca;
}
.node--news-teaser .layout--twocol-section .layout__region--first .block-field-blocknodenewsrevision-timestamp:first-child {
  font-size: 22px;
  color: black;
  font-weight: 400;
  margin-bottom: -13px;
}
.node--news-teaser .layout--twocol-section .layout__region--first .block-field-blocknodenewsrevision-timestamp:last-child {
  font-size: 14px;
  font-weight: 400;
  color: #dadada;
  margin-top: -5px;
}
.node--news-teaser .layout--twocol-section .layout__region--second {
  flex: 0 1 78%;
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
}
.node--news-teaser .layout--twocol-section .layout__region--second .block-field-blocknodenewsfield-text .field--name-field-text {
  display: flex;
}
.node--news-teaser .layout--twocol-section .layout__region--second .block-field-blocknodenewsfield-text .field--name-field-text .field--item {
  margin: 0 3px;
}
.node--news-teaser .layout--twocol-section .layout__region--second .block-field-blocknodenewsfield-text .field--name-field-text .field--item:first-child {
  color: #dadada;
}
.node--news-teaser .layout--twocol-section .layout__region--second .block-field-blocknodenewsrevision-timestamp {
  margin-left: auto;
  color: #dadada;
}
.node--news-teaser .layout--twocol-section .layout__region--second:before {
  content: "";
  background-color: #dadada;
  width: 1px;
  margin-left: -15px;
  margin-right: 10px;
}
.node--news-teaser .layout--twocol-section:last-child {
  justify-content: flex-end;
  margin-top: 12px !important;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second {
  flex-direction: column;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewstitle {
  margin-bottom: 5px;
  text-align: left;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewstitle a {
  font-size: 23px;
  color: black;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsbody {
  text-align: left;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsbody div {
  line-height: 1.3;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsfield-more {
  margin: 15px 20px 15px 0;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsfield-more a {
  padding: 8px;
  color: white;
  background-color: #373645;
  float: right;
  font-size: 14px;
}
.node--news-teaser .layout--twocol-section:last-child .layout__region--second:before {
  content: "";
  background-color: #dadada;
  width: 1px;
  margin-left: -15px;
  margin-right: 10px;
  position: absolute;
  height: 150px;
}
.node--news-full .node__content {
  padding: 3% 17%;
  text-align: left;
}
.node--news-full .node__content .layout--twocol-section .layout__region--first {
  display: flex;
}
.node--news-full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodenewsfield-job-field {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}
.node--news-full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodenewsfield-text {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}
.node--news-full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodenewsfield-text .field--name-field-text .field--item {
  display: inline-block;
}
.node--news-full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodenewsfield-text .field--name-field-text .field--item:first-child {
  color: #dadada;
}
.node--news-full .node__content .layout--twocol-section .layout__region--second {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}
.node--news-full .node__content .layout--onecol .block-field-blocknodenewstitle {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  color: #6e9bca;
  margin: 50px 0;
}
.node--news-full .node__content .layout--onecol .block-field-blocknodenewsbody {
  font-size: 26px;
}

@media (max-width: 700px) {
  .node--news-teaser .layout--twocol-section .layout__region--first {
    flex: 0 1 100%;
  }
  .node--news-teaser .layout--twocol-section .layout__region--second {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .node--news-teaser .layout--twocol-section .layout__region--second .block-field-blocknodenewsrevision-timestamp {
    margin: 0 auto;
  }
  .node--news-teaser .layout--twocol-section:last-child {
    justify-content: center;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second {
    flex-direction: column;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewstitle {
    margin-bottom: 5px;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewstitle a {
    font-size: 17px;
    color: black;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsbody div {
    line-height: 1.3;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsfield-read-more {
    margin: 15px 20px 15px 0;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second .block-field-blocknodenewsfield-read-more a {
    padding: 8px;
    color: white;
    background-color: #373645;
    float: right;
    font-size: 14px;
  }
  .node--news-teaser .layout--twocol-section:last-child .layout__region--second:before {
    display: none;
  }
  .node--news-full .node__content {
    padding: 2% 10%;
  }
  .node--news-full .node__content .block-field-blocknodenewsrevision-timestamp {
    display: none;
  }
  .node--news-full .node__content .layout--onecol .block-field-blocknodenewstitle {
    font-weight: 400;
    font-size: 32px;
  }
  .node--news-full .node__content .layout--onecol .block-field-blocknodenewsbody {
    font-size: 18px;
  }
}
/*# sourceMappingURL=news.css.map */
