.node--our-team- {
  /* Like button */
}
.node--our-team--teaser {
  text-align: center;
}
.node--our-team--teaser .layout__region--content * {
  width: fit-content;
  text-transform: uppercase;
}
.node--our-team--teaser .layout--onecol .layout__region--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-image-hover {
  position: absolute;
  z-index: -1;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-image {
  min-width: 290px;
  min-height: 290px;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-image:hover {
  opacity: 0;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-title {
  margin-top: 33px;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-title a {
  font-size: 25px;
  color: black;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-job-title {
  margin-top: -10px;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-job-title a {
  font-size: 12px;
  color: #dadada;
}
.node--our-team--teaser .layout--onecol .layout__region--content .block-field-blocknodeour-team-field-more a {
  padding: 8px;
  color: white;
  background-color: #373645;
  font-size: 16px;
}
.node--our-team--teaser .layout--twocol-section {
  margin-top: 25px;
  flex-wrap: nowrap;
}
.node--our-team--teaser .layout--twocol-section .block-extra-field-blocknodeour-team-flag-like {
  font-size: 0;
  margin-left: 75px;
  margin-top: 3px;
}
.node--our-team--teaser .layout--twocol-section .social-media-links--platforms {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: -4px;
  font-size: 10px;
}
.node--our-team--full .node__content {
  padding: 3% 15%;
  text-align: left;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-title {
  font-size: 42px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-job-title a {
  color: #dadada;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-take-part-in {
  margin-top: 20px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-take-part-in .field--name-field-take-part-in .field--label {
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  width: 100%;
  font-size: 20px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-take-part-in .field--name-field-take-part-in .field--items .field--item {
  margin-left: 8px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-take-part-in .field--name-field-take-part-in .field--items .field--item a {
  color: #373645;
  margin-left: 24px;
  font-size: 18px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-take-part-in .field--name-field-take-part-in .field--items .field--item a:before {
  content: "";
  display: block;
  background-color: #373645;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  margin-left: -10px;
  margin-bottom: -25px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-social-media {
  margin-top: 30px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-social-media .social-media-links--platforms {
  display: flex;
  font-size: 14px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--first .block-field-blocknodeour-team-field-social-media .social-media-links--platforms li {
  margin-right: 10px;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--second {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.node--our-team--full .node__content .layout--twocol-section .layout__region--second .block-extra-field-blocknodeour-team-flag-like {
  margin-top: 10px;
  font-size: 0;
}
.node--our-team--full .layout--onecol {
  margin-top: 40px;
  font-size: 22px;
}
.node--our-team- .action-flag a, .node--our-team- .action-flag a::after {
  border: 2px solid #dadada;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
}
.node--our-team- .action-flag a {
  box-sizing: border-box;
  position: relative;
  transform: translate(calc(-5px * var(--ggs, 1)), calc(-3px * var(--ggs, 1))) rotate(-45deg) scale(var(--ggs, 1));
  display: block;
}
.node--our-team- .action-flag a::after,
.node--our-team- .action-flag a::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.node--our-team- .action-flag a::after {
  right: -9px;
  transform: rotate(90deg);
  top: 5px;
}
.node--our-team- .action-flag a::before {
  width: 11px;
  height: 11px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -2px;
  top: 3px;
  color: #dadada;
}
.node--our-team- .action-unflag a, .node--our-team- .action-unflag a::after {
  border: 2px solid #e03114;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0;
  background-color: #e03114;
}
.node--our-team- .action-unflag a {
  box-sizing: border-box;
  position: relative;
  transform: translate(calc(-5px * var(--ggs, 1)), calc(-3px * var(--ggs, 1))) rotate(-45deg) scale(var(--ggs, 1));
  display: block;
}
.node--our-team- .action-unflag a::after,
.node--our-team- .action-unflag a::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.node--our-team- .action-unflag a::after {
  right: -9px;
  transform: rotate(90deg);
  top: 5px;
}
.node--our-team- .action-unflag a::before {
  width: 11px;
  height: 11px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -2px;
  top: 3px;
  color: #e03114;
  background-color: #e03114;
}
/*# sourceMappingURL=team.css.map */
