@import "variables";
@import "mixins";


.views-element-container {
  .view {
    .view-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      .views-row {
        flex: 0 1 20%;
      }
    }

    &.view-search-news {
      .view-filters, .form-group {
        form {
          margin-left: 17%;
          .form--inline {
            text-align: left !important;

          }
        }
      }
      .view-content {
        .views-row {
          flex: 0 1 37%;
        }
      }
    }
    &.view-clients {
      .view-content {
        .views-row {
          flex: 0 1 33%;
        }
      }
    }
  }
}

.pager-nav {
  margin-top: 50px;
}

@media (max-width: 900px) {
  .views-element-container {
    .view {
      .view-content {
        .views-row {
          flex: 0 1 40%;
        }
      }
      &.view-clients{
        .view-content{
          .views-row{
            flex: 0 1 80%;
          }
        }
      }
      &.view-search-news{
        .view-content{
          .views-row{
            flex: 0 1 80%;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .views-element-container {
    .view {
  &.view-search-news {
    .view-filters, .form-group {
      form {
        margin: 0 auto;
        max-width: 80%;
        .form--inline {
          text-align: center !important;

        }
      }
    }
    .view-content {
      .views-row {
        flex: 0 1 87%;
      }
    }
  }
}}}
@media (max-width: 500px) {
  .views-element-container {
    .view {
      .view-content {
        .views-row {
          flex: 0 1 80%;
        }
      }
    }
  }
}
