@import "variables";
@import "mixins";

.node--our-team- {
  &-teaser {
    text-align: center;

    .layout__region--content * {
      width: fit-content;
      text-transform: uppercase;
    }

    .layout--onecol {
      .layout__region--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block-field-blocknodeour-team-field-image-hover {
          position: absolute;
          z-index: -1;
        }

        .block-field-blocknodeour-team-field-image {

          min-width: 290px;
          min-height: 290px;

        }

        .block-field-blocknodeour-team-field-image:hover {
          opacity: 0;
        }

        .block-field-blocknodeour-team-title {
          margin-top: 33px;

          a {
            font-size: 25px;
            color: black;
          }
        }

        .block-field-blocknodeour-team-field-job-title {
          margin-top: -7px;

          a {
            font-size: 12px;
            color: $gray;
          }
        }

        .block-field-blocknodeour-team-field-more {
          margin-top: 23px;

          a {
            padding: 8px;
            color: white;
            background-color: $darkBlue;
          }
        }
      }
    }

    .layout--twocol-section {
      margin-top: 25px;
      flex-wrap: nowrap;

      .block-extra-field-blocknodeour-team-likeit {
        .likeit__wrapper {
          justify-content: center;
          max-width: 260px;

          .likeit__count {
            display: none;
          }

          .like {
            height: 14px;
            a{
              svg{
                path{
                  stroke: $gray;
                }
              }
              &.liked{
                svg{
                  path{
                    stroke: $red;
                  }
                }
              }
            }
          }
        }
      }
      .social-media-links--platforms{
        display: flex;
        justify-content: flex-end;
        margin-right: 15%;
        margin-top: -4px;
      }
    }
  }

  &-full {
    .node__content {
      padding: 3% 15%;

      .layout--twocol-section {
        .layout__region--first {
          .block-field-blocknodeour-team-title {
            font-size: 42px;
          }

          .block-field-blocknodeour-team-field-job-title {
            a {
              color: $gray;
            }
          }

          .block-field-blocknodeour-team-field-take-part-in {
            margin-top: 20px;

            .field--name-field-take-part-in {
              .field--label {
                text-transform: uppercase;
                font-weight: 400;
                text-align: left;
                width: 100%;
                font-size: 20px;
              }


              .field--items {
                .field--item {
                  margin-left: 8px;

                  a {
                    color: $darkBlue;
                    margin-left: 24px;
                    font-size: 18px;

                    &:before {
                      content: '';
                      display: block;
                      background-color: $darkBlue;
                      height: 3px;
                      width: 3px;
                      border-radius: 50%;
                      margin-left: -10px;
                      margin-bottom: -13px;
                    }
                  }
                }
              }
            }

          }

          .block-field-blocknodeour-team-field-social-media {
            margin-top: 30px;

            .social-media-links--platforms {
              display: flex;
              li{
                margin-right: 10px;
              }
            }
          }
        }

        .layout__region--second {
          display: flex;
          flex-direction: column;
          align-items: center;

          .block-extra-field-blocknodeour-team-likeit {
            margin-top: 10px;

            .likeit__wrapper {
              .likeit__count {
                display: none;
              }
              .like{
                a{
                  svg{
                    path{
                      stroke: $gray;
                    }
                  }
                  &.liked{
                      svg{
                        path{
                          stroke: $red;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .layout--onecol {
        margin-top: 40px;
        font-size: 22px;
      }
    }
  }

