@import "variables";
@import "mixins";

.node--our-team- {
  &-teaser {
    text-align: center;

    .layout__region--content * {
      width: fit-content;
      text-transform: uppercase;
    }

    .layout--onecol {
      .layout__region--content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .block-field-blocknodeour-team-field-image-hover {
          position: absolute;
          z-index: -1;
        }

        .block-field-blocknodeour-team-field-image {

          min-width: 290px;
          min-height: 290px;

        }

        .block-field-blocknodeour-team-field-image:hover {
          opacity: 0;
        }

        .block-field-blocknodeour-team-title {
          margin-top: 33px;

          a {
            font-size: 25px;
            color: black;
          }
        }

        .block-field-blocknodeour-team-field-job-title {
          margin-top: -10px;

          a {
            font-size: 12px;
            color: $gray;
          }
        }

        .block-field-blocknodeour-team-field-more {

          a {
            padding: 8px;
            color: white;
            background-color: $darkBlue;
            font-size: 16px;
          }
        }
      }
    }

    .layout--twocol-section {
      margin-top: 25px;
      flex-wrap: nowrap;

      .block-extra-field-blocknodeour-team-flag-like {
        font-size: 0;
        margin-left: 75px;
        margin-top: 3px;
      }

      .social-media-links--platforms {
        display: flex;
        justify-content: flex-end;
        margin-right: 15%;
        margin-top: -4px;
        font-size: 10px;
      }
    }
  }

  &-full {
    .node__content {
      padding: 3% 15%;
      text-align: left;

      .layout--twocol-section {
        .layout__region--first {
          .block-field-blocknodeour-team-title {
            font-size: 42px;
          }

          .block-field-blocknodeour-team-field-job-title {
            a {
              color: $gray;
            }
          }

          .block-field-blocknodeour-team-field-take-part-in {
            margin-top: 20px;

            .field--name-field-take-part-in {
              .field--label {
                text-transform: uppercase;
                font-weight: 400;
                text-align: left;
                width: 100%;
                font-size: 20px;
              }


              .field--items {
                .field--item {
                  margin-left: 8px;

                  a {
                    color: $darkBlue;
                    margin-left: 24px;
                    font-size: 18px;

                    &:before {
                      content: '';
                      display: block;
                      background-color: $darkBlue;
                      height: 3px;
                      width: 3px;
                      border-radius: 50%;
                      margin-left: -10px;
                      margin-bottom: -25px;
                    }
                  }
                }
              }
            }

          }

          .block-field-blocknodeour-team-field-social-media {
            margin-top: 30px;

            .social-media-links--platforms {
              display: flex;
              font-size: 14px;

              li {
                margin-right: 10px;
              }
            }
          }
        }

        .layout__region--second {
          display: flex;
          flex-direction: column;
          align-items: center;

          .block-extra-field-blocknodeour-team-flag-like {
            margin-top: 10px;
            font-size: 0;
          }
        }
      }
    }

    .layout--onecol {
      margin-top: 40px;
      font-size: 22px;
    }
  }

  /* Like button */
  .action-flag {
    a, a::after {
      border: 2px solid $gray;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      width: 10px;
      height: 8px;
      border-bottom: 0;
    }

  }


  .action-flag a {
    box-sizing: border-box;
    position: relative;
    transform: translate(
        calc(-10px / 2 * var(--ggs, 1)),
        calc(-6px / 2 * var(--ggs, 1))
    ) rotate(-45deg) scale(var(--ggs, 1));
    display: block
  }

  .action-flag a::after,
  .action-flag a::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }

  .action-flag {
    a::after {
      right: -9px;
      transform: rotate(90deg);
      top: 5px
    }
  }


  .action-flag {
    a::before {
      width: 11px;
      height: 11px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      left: -2px;
      top: 3px;
      color: $gray;
    }
  }

  .action-unflag {
    a, a::after {
      border: 2px solid $red;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      width: 10px;
      height: 8px;
      border-bottom: 0;
      background-color: $red;
    }

  }


  .action-unflag a {
    box-sizing: border-box;
    position: relative;
    transform: translate(
        calc(-10px / 2 * var(--ggs, 1)),
        calc(-6px / 2 * var(--ggs, 1))
    ) rotate(-45deg) scale(var(--ggs, 1));
    display: block
  }

  .action-unflag a::after,
  .action-unflag a::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }

  .action-unflag {
    a::after {
      right: -9px;
      transform: rotate(90deg);
      top: 5px
    }
  }


  .action-unflag {
    a::before {
      width: 11px;
      height: 11px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      left: -2px;
      top: 3px;
      color: $red;
      background-color: $red;
    }
  }
}

